<h1>Pocetna stranica [ucenik]</h1>
<hr>
<div class="container">
  <table>
    <tr>
      <td>Profilna slika</td>
      <td>
        <img [src]="prof_slika" alt="Profilna slika">
      </td>
    </tr>
    <tr>
      <td>Korisnicko ime</td>
      <td>{{kor_ime}}</td>
    </tr>
    <tr>
      <td>Ime</td>
      <td>{{ime}}</td>
    </tr>
    <tr>
      <td>Prezime</td>
      <td>{{prezime}}</td>
    </tr>
    <tr>
      <td>Adresa</td>
      <td>{{adresa}}</td>
    </tr>
    <tr>
      <td>Email adresa</td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <td>Kontakt telefon</td>
      <td>{{telefon}}</td>
    </tr>
    <tr>
      <td>Tip skole</td>
      <td>{{tip_skole}}</td>
    </tr>
    <tr>
      <td>Trenutni razred</td>
      <td>{{tr_razred}}</td>
    </tr>
  </table>
</div>
<hr>
<table>
  <tr>
    <td>Azuriraj profilnu sliku:</td>
    <td>
      <app-image-upload (porukaEvent)="handleGreska($event)" (fileEvent)="handleSlika($event)"></app-image-upload>
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajProfilnuSliku()" [disabled]="proveriSliku()">
    </td>
  </tr>
  <tr>
    <td>Azuriraj ime:</td>
    <td>
      <input type="text" [(ngModel)]="azur_ime">
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajIme()" [disabled]="azur_ime === ''">
    </td>
  </tr>
  <tr>
    <td>Azuriraj prezime:</td>
    <td>
      <input type="text" [(ngModel)]="azur_prezime">
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajPrezime()" [disabled]="azur_prezime === ''">
    </td>
  </tr>
  <tr>
    <td>Azuriraj adresu:</td>
    <td>
      <input type="text" [(ngModel)]="azur_adresa">
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajAdresu()" [disabled]="azur_adresa === ''">
    </td>
  </tr>
  <tr>
    <td>Azuriraj email adresu:</td>
    <td>
      <input type="text" [(ngModel)]="azur_email">
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajEmail()" [disabled]="proveriEmail()">
    </td>
  </tr>
  <tr>
    <td>Azuriraj kontakt telefon:</td>
    <td>
      <input type="text" [(ngModel)]="azur_telefon">
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajTelefon()" [disabled]="proveriTelefon()">
    </td>
  </tr>
  <tr>
    <td>Azuriraj trenutni razred:</td>
    <td>
      <select [(ngModel)]="azur_tip_skole">
        <option value="Osnovna">Osnovna skola</option>
        <option value="Srednja [strucna]">Srednja skola [strucna]</option>
        <option value="Srednja [gimnazija]">Srednja skola [gimnazija]</option>
        <option value="Srednja [umetnicka]">Srednja skola [umetnicka]</option>
      </select>
    </td>
    <td>
      <input type="button" value="Azuriraj" (click)="azurirajTrRazred()" [disabled]="proveriAzurTrRazred()">
    </td>
  </tr>
</table>
<hr>
<p *ngIf="poruka !== ''" class="red">
  {{poruka}}
</p>
<p *ngIf="mejlPoruka !== ''" class="red">
  {{mejlPoruka}}
</p>
<input type="button" value="Odjavi se" (click)="logout()">
