<h1>Admin [profil]</h1>
<hr>
<div id="chart1">
  <apx-chart
    [series]="chartOptions1.series!"
    [chart]="chartOptions1.chart!"
    [dataLabels]="chartOptions1.dataLabels!"
    [plotOptions]="chartOptions1.plotOptions!"
    [yaxis]="chartOptions1.yaxis!"
    [legend]="chartOptions1.legend!"
    [fill]="chartOptions1.fill!"
    [stroke]="chartOptions1.stroke!"
    [tooltip]="chartOptions1.tooltip!"
    [xaxis]="chartOptions1.xaxis!"
  ></apx-chart>
</div>
<hr>
<div id="chart2">
  <apx-chart
    [series]="chartOptions2.series!"
    [chart]="chartOptions2.chart!"
    [labels]="chartOptions2.labels!"
    [responsive]="chartOptions2.responsive!"
  ></apx-chart>
</div>
<hr>
<div id="chart4">
  <apx-chart
    [series]="chartOptions4.series!"
    [chart]="chartOptions4.chart!"
    [xaxis]="chartOptions4.xaxis!"
    [dataLabels]="chartOptions4.dataLabels!"
    [grid]="chartOptions4.grid!"
    [stroke]="chartOptions4.stroke!"
    [title]="chartOptions4.title!"
  ></apx-chart>
</div>
<hr>
