<h1>Pocetna stranica [neregistrovani korisnik]</h1>
<hr>
<table>
  <tr>
    <th>Ukupan broj ucenika</th>
    <th>Ukupan broj (aktivnih) nastavnika</th>
    <th>Broj odrzanih casova u prethodnih nedelju dana</th>
    <th>Broj odrzanih casova u prethodnih mesec dana</th>
  </tr>
  <tr>
    <td>{{ukupanBrUcenika}}</td>
    <td>{{ukupanBrPrihvacenihNastavnika}}</td>
    <td>{{brCasovaPrethNedelja}}</td>
    <td>{{brCasovaPrethMesec}}</td>
  </tr>
</table>
<hr>
<div class="container">
  <table>
    <tr>
      <th>Naziv predmeta</th>
      <th>Ime nastavnika</th>
      <th>Prezime nastavnika</th>
    </tr>
    <tr *ngFor="let it of fNiz">
      <td>{{it.predmet}}</td>
      <td>{{it.nIme}}</td>
      <td>{{it.nPrezime}}</td>
    </tr>
  </table>
</div>
<hr>
<input type="button" value="Sortiraj prema nazivu predmeta rastuce" (click)="sortirajPredmetAsc()">&nbsp;
<input type="button" value="Sortiraj prema nazivu predmeta opadajuce" (click)="sortirajPredmetDesc()">
<br>
<input type="button" value="Sortiraj prema imenu nastavnika rastuce" (click)="sortirajImeAsc()">&nbsp;
<input type="button" value="Sortiraj prema imenu nastavnika opadajuce" (click)="sortirajImeDesc()">
<br>
<input type="button" value="Sortiraj prema prezimenu nastavnika rastuce" (click)="sortirajPrezimeAsc()">&nbsp;
<input type="button" value="Sortiraj prema prezimenu nastavnika opadajuce" (click)="sortirajPrezimeDesc()">
<hr>
<div class="container">
  <table>
    <tr>
      <td>Unesite naziv predmeta za pretragu:</td>
      <td>
        <input type="text" [(ngModel)]="pretrPredmet">
      </td>
    </tr>
    <tr>
      <td>Unesite ime nastavnika za pretragu:</td>
      <td>
        <input type="text" [(ngModel)]="pretrIme">
      </td>
    </tr>
    <tr>
      <td>Unesite prezime nastavnika za pretragu:</td>
      <td>
        <input type="text" [(ngModel)]="pretrPrezime">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="button" value="Pretrazi" (click)="pretrazi()">
      </td>
    </tr>
  </table>
</div>
<hr>
<input type="button" value="Idi na stranicu za logovanje" (click)="login()">
