<app-header-nastavnik></app-header-nastavnik>
<h1>Pocetna stranica [nastavnik]</h1>
<hr>
<div class="container">
  <table>
    <tr>
      <td>Profilna slika</td>
      <td>
        <img [src]="prof_slika" alt="Profilna slika">
      </td>
    </tr>
    <tr>
      <td>Korisnicko ime</td>
      <td>{{kor_ime}}</td>
    </tr>
    <tr>
      <td>Ime</td>
      <td>{{ime}}</td>
    </tr>
    <tr>
      <td>Prezime</td>
      <td>{{prezime}}</td>
    </tr>
    <tr>
      <td>Adresa</td>
      <td>{{adresa}}</td>
    </tr>
    <tr>
      <td>Email adresa</td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <td>Kontakt telefon</td>
      <td>{{telefon}}</td>
    </tr>
    <tr>
      <td>Izabrani predmeti</td>
      <td>
        <ul>
          <li *ngFor="let pr of predmeti">
            {{pr}}
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Izabrani uzrasti</td>
      <td>
        <ul>
          <li *ngFor="let uzr of uzrasti">
            {{uzr}}
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<hr>
<div class="container">
  <table>
    <tr>
      <td>Azuriraj profilnu sliku:</td>
      <td>
        <app-image-upload (porukaEvent)="handleGreska($event)" (fileEvent)="handleSlika($event)"></app-image-upload>
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajProfilnuSliku()" [disabled]="proveriSliku()">
      </td>
    </tr>
    <tr>
      <td>Azuriraj ime:</td>
      <td>
        <input type="text" [(ngModel)]="azur_ime">
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajIme()" [disabled]="azur_ime === ''">
      </td>
    </tr>
    <tr>
      <td>Azuriraj prezime:</td>
      <td>
        <input type="text" [(ngModel)]="azur_prezime">
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajPrezime()" [disabled]="azur_prezime === ''">
      </td>
    </tr>
    <tr>
      <td>Azuriraj adresu:</td>
      <td>
        <input type="text" [(ngModel)]="azur_adresa">
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajAdresu()" [disabled]="azur_adresa === ''">
      </td>
    </tr>
    <tr>
      <td>Azuriraj email adresu:</td>
      <td>
        <input type="text" [(ngModel)]="azur_email">
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajEmail()" [disabled]="proveriEmail()">
      </td>
    </tr>
    <tr>
      <td>Azuriraj kontakt telefon:</td>
      <td>
        <input type="text" [(ngModel)]="azur_telefon">
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajTelefon()" [disabled]="proveriTelefon()">
      </td>
    </tr>
    <tr>
      <td>Azuriraj izabrane predmete:</td>
      <td>
        <div *ngFor="let dPr of def_predmeti">
          <input type="checkbox" name="def_predmeti" [id]="dPr.naziv" [(ngModel)]="dPr.izabr">
          <label [for]="dPr.naziv">{{dPr.naziv}}</label>
        </div>
        Slobodni predmeti: <input type="text" [(ngModel)]="slob_predmeti">
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajPredmete()" [disabled]="proveriPredmete()">
      </td>
    </tr>
    <tr>
      <td>Azuriraj izabrane uzraste:</td>
      <td>
        <div *ngFor="let dUzr of def_uzrasti">
          <input type="checkbox" name="def_uzrasti" [id]="dUzr.naziv" [(ngModel)]="dUzr.izabr">
          <label [for]="dUzr.naziv">{{dUzr.naziv}}</label>
        </div>
      </td>
      <td>
        <input type="button" value="Azuriraj" (click)="azurirajUzraste()" [disabled]="proveriUzraste()">
      </td>
    </tr>
  </table>
</div>
<hr>
<p *ngIf="poruka !== ''" class="red">
  {{poruka}}
</p>
<p *ngIf="mejlPoruka !== ''" class="red">
  {{mejlPoruka}}
</p>
