<h1>Zakazivanje casa [prvi nacin]</h1>
<hr>
<table>
  <tr>
    <td>Izaberite predmet:</td>
    <td>
      <select [(ngModel)]="izabr_predmet" [disabled]="predmeti.length === 1">
        <option *ngFor="let pr of predmeti" [value]="pr">{{pr}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Izaberite datum i vreme casa:</td>
    <td>
      <input type="datetime-local" [(ngModel)]="datum_vreme_start">
    </td>
  </tr>
  <tr>
    <td>Izaberite trajanje casa:</td>
    <td>
      <input type="number" min="30" [(ngModel)]="trajanje">
    </td>
  </tr>
  <tr>
    <td>Izaberite da li zelite dupli cas:</td>
    <td>
      <input type="checkbox" [(ngModel)]="dupli_cas" id="dupli_cas">
      <label for="dupli_cas">Zelim</label>
    </td>
  </tr>
  <tr>
    <td>Unesite kratak opis casa (sta zelite da radite na casu):</td>
    <td>
      <input type="text" [(ngModel)]="kratak_opis">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="button" value="Zakazi cas" (click)="zakaziCas()">
    </td>
  </tr>
</table>
<hr>
<p *ngIf="poruka !== ''" [class]="poruka.includes('Uspesno') ? 'green' : 'red'">
  {{poruka}}
</p>
<input type="button" value="Vrati se nazad" (click)="back()">
